

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body style="font-size: 14px">
<div th:replace="common/header :: navbar" />
<div class="row" style="margin-bottom: -100px;">

<th:block >
    <form th:action="@{/seller/product}" th:object="${product}" method="post"  enctype="multipart/form-data" >
        <th:errors path="*" cssClass="alert alert-danger" element="div"/>
        <fieldset>
                  <h1 align="center">Add Product</h1>
            <div class="col-lg-8">
            <th:errors path="*" cssClass="alert alert-danger" element="div"/>
            <input id="product_id" name="id" placeholder="Product id" class="form-control input-md"  type="hidden" th:field="*{id}">
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                <div class="col-md-4">
                    <input id="product_name" name="name" placeholder="Product Name" class="form-control input-md"  type="text" th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors ="*{name}" class="alert alert-danger"/>

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="available_quantity">MODEL</label>
                <div class="col-md-4">
                    <input id="model" name="model" placeholder="model" class="form-control input-md"  type="text" th:field="*{model}">
                    <span th:if="${#fields.hasErrors('model')}" th:errors ="*{model}" class="alert alert-danger"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
                <div class="col-md-4">
                    <input id="available_quantity" name="quantity" placeholder="Available Quantity" class="form-control input-md"  type="text"th:field="*{quantity}">
                    <span th:if="${#fields.hasErrors('quantity')}" th:errors ="*{quantity}" class="alert alert-danger"/>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_unit_price">UNIT PRICE</label>
                <div class="col-md-4">
                    <input id="product_unit_price" name="unitPrice" placeholder="Unit Price" class="form-control input-md"  type="text" th:field="*{unitPrice}">
                    <span th:if="${#fields.hasErrors('unitPrice')}" th:errors ="*{unitPrice}" class="alert alert-danger"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_list_price">DISCOUNT PRICE</label>
                <div class="col-md-4">
                    <input id="product_list_price" name="discountPrice" placeholder="Dicount Price" class="form-control input-md"  type="text" th:field="*{discountPrice}">
                    <span th:if="${#fields.hasErrors('discountPrice')}" th:errors ="*{discountPrice}" class="alert alert-danger"/>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="description" name="description"  th:field="*{description}"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors ="*{description}" class="alert alert-danger"/>
                </div>
            </div>

            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="image_upload">PRODUCT IMAGE</label>
                <div class="col-md-4">
                    <input id="image_upload" name="image_upload" class="input-file" type="file"  th:field="*{productPic}">
                    <span th:if="${#fields.hasErrors('productPic')}" th:errors ="*{productPic}" class="alert alert-danger"/>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="savebutton"></label>
                <div class="col-md-4">
                    <button type="submit" id="savebutton" name="savebutton" class="btn btn-primary">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="reset" id="cancelbutton" name="cancelbutton" class="btn btn-secondary">Clear</button>
                </div>
            </div>
            </div>
        </fieldset>
    </form>
</th:block>
    </div>
</div>
</div>
<!-- end of container -->

<!--<div th:replace="common/header :: footer"/>-->
<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>